/* @import "tailwindcss"; */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}
/* .font-quicksand {
  font-family: "Quicksand", sans-serif;
}
.font-mont {
    font-family: "Montserrat", sans-serif;
} */